@tailwind base;
@tailwind components;
@tailwind utilities;


.handshaking{
    animation: waving-hand 1s ease-in-out infinite ;
}




@keyframes waving-hand {
    0% {
        transform: rotate(0.0deg);
    }
    10% {
        transform: rotate(15.0deg);
    }
    30% {
        transform: rotate(-8.5deg);
    }
    50% {
        transform: rotate(15.0deg);
    }
    60% {
        transform: rotate(-5.0deg);
    }
    100% {
        transform: rotate(0.0deg);
    }
}

